<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
rel="stylesheet" />
  
 </head>
<body>
    <header>
        <br><br>
        <div class="cabecera">

            <img class="imgcabecera" src="/img/logo-mercado-liebre.svg" >
        
        <input class="buscador" type="search" placeholder="Buscar Productos, marcas"><i class="fas fa-search"></i>
        <p class="compra"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        
        
        
        <br><br>
        <nav>
            <ul>
                <li><a href="#">Ofertas </a></li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li><a href="#"> Tiendas Oficiales </a></li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li><a href="#"> Vender </a></li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li><a href="#"> Ayuda </a></li>
                 </ul>
                <ul>
                <li><a href="/register">Creá tu cuenta <i class="fas fa-address-card"></i></a> </li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li><a href="/login"> Ingresá <i class="fas fa-sign-in-alt"></i></a> </li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li><a href="#"> Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
           <br><br>
    </header>
    <img class="banner" src="/img/img-home-banner.jpg">
    <main>
        <form action="" method=""> 
            <input class="boton" type="text" name="Nombre y apellido" minlength="1"  maxlength="10" placeholder="Nombre y apellido" required>
            <input class="boton" type="text" name="Nombre de usuario" placeholder="Nombre de usuario" required>
            <input class="boton" type="email" name="email" placeholder="E-mail" required>
            <br>
            <label class="texto">
                Fecha de nacimiento
            </label>
            <br>
            <input class="boton" name="dato" type="date" required>
            <input class="boton" type="text" name="domicilio" placeholder="Domicilio" required>
            <br>
            <label class="texto">Foto
            </label>
            <br>
            <input class="file" type="file" name="Foto" required>
            <input class="boton" type="password" name="contraseña" placeholder="Constraseña" required>
            <input class="boton" type="password" name="Confirmar contraseña" placeholder="Confirmar Constraseña" required>
            <br>
            <label class="texto">               
                Perfil de usuario               
            </label>
            <br>
            <div><input type="radio" class="interes" name="comprador" value="comprador">Comprador
            <input type="radio" class="interes" name="vendedor" value="Vendedor">Vendedor</div>
            <br>
            <label class="texto">
                Intereses
            </label class="texto">
            <br>
            <div><input type="checkbox" class="interes" name="comprador" value="Electro">Electro
            <input type="checkbox" class="interes"  name="comprador" value="Moda">Moda
            <input type="checkbox" class="interes"  name="comprador" value="Hogar">Hogar
            <br>
            <input type="checkbox" class="interes"  name="comprador" value="Jugueteria">Jugueteria
            <input type="checkbox"class="interes"  name="comprador" value="Vida Sana">Vida Sana</div>
            <button class="botones" type="" onclick="location.href='/'">Enviar</button>
            <button class="botones" type="reset">Reset</button>
        </form>
</main>
<br><br>
<footer>
    <section>
    <div class="tarjet"><i class="fas fa-credit-card icofuter"></i><h4>Pagá con  tarjeta o en efectivo</h4>        
        <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de pago. ¡Y siempre es seguro!</p>
    </div>
    <div class="regalo"><i class="fas fa-gift icofuter"></i> <h4>Envío gratis desde los $ 2.500</h4>        
        <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos.</p>
        
    </div>
   <div class="escudo"><i class="fas fa-user-shield icofuter"></i><h4>Seguridad de principio a fin</h4>        
    <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre prtegid@.</p>
    </div>
    
</section>
<br><br>
    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer>
</body>

</html>