@media (min-width: 360px) and (max-width: 575px) {
    .Descripciones, nav{
        display: none;
    }
    .cabecera{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .buscador{
        width: 40vw;
        height: auto;
        border-radius: 5px;    
           
    }
    .imgcabecera{
        width: 40vw;        
    }
    .fa-search{
        position: relative;  
  
    }
    .fa-search, .fa-hand-holding-usd{
        font-size: 15px;
    }
    .tarjeta:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        
        
    }
    .carro{
        transition: 1s;
    }
    .carro:hover{
        
        transform: rotate(360deg);
        
    }
    .botones:hover{
        background-color: #0022AA;
    }
    
    .icofuter:hover{
        color: green;
    }
  }






@media (min-width: 576px) and (max-width: 991px) {
    .fa-address-card, .fa-sign-in-alt, .fa-shopping-basket,.fa-search,.fa-hand-holding-usd, .fa-hand-holding-usd{
        font-size: 15px;
    }
    .tarjeta{
        
        margin: 5px;
    }
    .tarjeta:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        transform: scale(1.2); 
        position: relative;       
        z-index: 1;
    }
    .imagen{
        width: 40vw;
    }

    .burger-menu{
        display: none;
    }
    nav{
        display: flex;
        justify-content: space-around;
    }
    ul{
        display: flex;
        
    }
    .vista, .cabecera{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
  
    }
    footer>section{
        display: flex;
        flex-direction: row;
        justify-content: center;
         align-items: baseline;;
         height:100%;
    }
    .fa-credit-card,.fa-gift, .fa-user-shield{
        font-size: 30px;
    }

    .cabecera{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .buscador{
        width: 20vw;
        height: 25px;
        border-radius: 5px;    
           
    }
    .imgcabecera{
        width: 30vw;        
    }
    .fa-search{
        position: relative; 
  
    }
    .Descripciones{
        color: white;
    }
    .Descripciones:hover{
        color: black;
    }
    .carro{
        transition: 1s;
    }
    .carro:hover{
        
        transform: rotate(360deg);
        
    }
    .botones:hover{
        background-color: #0022AA;
    }
    .icofuter:hover{
        color: green;
    }
  }



@media (min-width: 992px) {
    .burger-menu{
        display: none;
    }
    .tarjeta{
        
        margin: 5px;
    }
    .tarjeta:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        transform: scale(1.5);
        
        z-index: 1;
      
    }
    .fa-address-card, .fa-sign-in-alt, .fa-shopping-basket,.fa-search,.fa-hand-holding-usd, .fa-hand-holding-usd{
        font-size: 15px;
    }
    .imagen{
        width: 20vw;
    }
    nav{
        display: flex;
        justify-content: space-around;
    }
    ul{
        display: flex;
    }
    footer>section{
        display: flex;
        flex-direction: row;
        justify-content: center;
         align-items: baseline;;
         height:100%;
    }
    .fa-credit-card,.fa-gift, .fa-user-shield{
        font-size: 30px;
    }
    .vista{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
  
    }
    .cabecera{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .buscador{
        width: 20vw;
        height: 25px;
        border-radius: 5px;    
           
    }
    .imgcabecera{
        width: 30vw;        
    }
    .fa-search{
        position: relative;
    }
    .Descripciones{
        color: white;
    }
    .Descripciones:hover{
        color: black;
    }
    
    .carro{
        transition: 1s;
    }
    .carro:hover{
        
        transform: rotate(360deg);
        
    }
    .botones:hover{
        background-color: #0022AA;
    }
    .icofuter:hover{
        color: green;
    }
}
  



body{  
    
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    background-color: #F5F4F3 ;
}
header{
    background-color: #EAC926 ;
    width: auto;  
    
}
ul{ list-style-type: none;
    margin:0;
    padding:0;
}

li{
   
    background:  #EAC926 ;
}

header>ul>li>a>i, .compra, .fa-address-card, .fa-sign-in-alt, .fa-shopping-basket,.fa-search,.fa-hand-holding-usd{
    background:  #EAC926 ;
}
.buscador{background: white;}
a{
    text-decoration: none;
    color: black;
    text-align: left;
    background:  #EAC926 ;
}
.caja{
    border-top: 1px solid #ebebeb;
    background-color: white;
    
}
.tarjeta{margin-bottom: 10px;}
main{
    margin: 0 auto;
    
    width: 90%;
}
h3{
    font-size: 24px;
}
.compra, footer{
    text-align: center;
}
.burger-menu{
    background-color: #1259c3;
    color: white ;    
    width: 40px;
    height: 40px;    
    border-radius: 8px;
    padding: 5px 0;
    text-align: center;    
    margin: auto;
}
img{
    width: 100%;
    height: auto;
    background: transparent;
}
.fa-bars{font-size: 30px;color: white;}
.Precios{ font-size: 18px; background: white;}
.Descuentos, .Descripciones{ font-size: 16px;background: white;}
.Descuentos{color: #39b54a;background: white;}
footer>div>i{color:#1259c3; font-size: 2em;  }
footer>div{margin-bottom: 10px;}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.Precios, .Descuentos{
    display: flex;
    }
.Descuentos{
    flex-grow: 0.70%;
}
footer{
    background:   white;;
}
.carro{
    border: 1px solid green;
    border-radius:100%;
    width: 40px;
    height: 40px;    
    position: relative;
    left: 80%;
    top: -20px;
    bottom: 0; 
    z-index: 1;    
}
.fa-truck{
    color: green;
    font-size: 25px;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  
}
.fa-search{
    background: white;
}

form{
    display: flex;
    flex-direction: column;
    width: 90%;
    height:100% ;
    margin: 5%;
    justify-content: center;
    align-items: center;
    
}

.botones{
    background-color: #EAC926;
    width: 100%;
    border-radius: 4px;
    border:1px solid gray;
    color: black;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 30px;
}
.boton{
    background-color: white;
    color:black;
    border-radius: 4px;
    height: 30px;
    width: 100%;
    margin-top: 5%;
    border:1px solid gray;
}
.icofuter{
    font-size: 25px;
}